.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    .navbar {
        background-color: rgb(0, 0, 0, 0.8);
        .navbar-toggler {
            &:focus {
                box-shadow: 0 0 0 5px rgb(0, 0, 0, 0.3);
                outline: none;
            }
            transition: all 0.2s linear;
        }
        .nav-item {
            .nav-link {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
                transition: all 0.2s linear;
                &:hover {
                    transform: scale(1.2);
                }

                @include MediaQuery($lg) {
                    margin-top: 16px;
                }
                .badge {
                    color: black;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 16px;
                    height: 16px;
                    background-color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
